* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  font-family: 'Montserrat';
  background-color: #Dae1eb;
}

.hhead {
  padding: 1em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(100% - 2em);
  height: 700px;
  background-image: url(Images/bridge-4.jpg);
  background-size: cover;
}

@media (max-width: 375px) {
  .hhead {
    max-width: 375px;
    max-height: 500px;
  }
}

@media (max-width: 800px) {
  .hhead {
    max-width: 800px;
    max-height: 600px;
  }
}

.hhead .header {
  position: fixed;
  margin-top: -20px;
  height: 100px;
  padding: 0 10px;
  color: white;
  background: #8f25D6;
  opacity: .9;
  z-index: 20;
  width: 100vw;
  margin-left: -50px;
}

@media (max-width: 375px) {
  .hhead .header {
    height: 0px;
  }
}

@media (max-width: 800px) {
  .hhead .header {
    width: 100vw;
    margin-left: -36px;
  }
}

.hhead .logo {
  line-height: 100px;
  float: left;
  color: #8f25D6;
  margin-left: 60px;
  font-size: 35px;
  color: white;
  cursor: pointer;
}

@media (max-width: 800px) {
  .hhead .logo {
    margin: 0px;
    margin-left: 18px;
  }
}

@media (max-width: 375px) {
  .hhead .logo {
    font-size: 30px;
  }
}

.hhead .menu {
  float: right;
  line-height: 100px;
  margin-left: 240px;
}

@media (max-width: 800px) {
  .hhead .menu {
    margin-right: 0px;
  }
}

.hhead .menu a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  padding: 0 40px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.hhead .menu a:hover {
  background-color: white;
  border-radius: 30px;
  padding: 10px;
  padding-right: 20px;
  font-style: unset;
  color: #8f25D6;
  -webkit-transition: .5s;
  transition: .5s;
}

.hhead .show-menu-btn,
.hhead .hide-menu-btn {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-size: 30px;
  cursor: pointer;
  display: none;
}

.hhead .show-menu-btn {
  float: right;
}

.hhead .show-menu-btn i {
  line-height: 100px;
}

.hhead #chk {
  position: absolute;
  visibility: hidden;
}

@media (max-width: 800px) {
  .hhead .show-menu-btn,
  .hhead .hide-menu-btn {
    display: block;
  }
  .hhead .menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #8f25D6;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 80px 0;
    line-height: normal;
    -webkit-transition: 0.7s;
    transition: 0.7s;
    z-index: 10;
  }
  .hhead .menu a {
    display: block;
    padding: 20px;
  }
  .hhead .hide-menu-btn {
    position: absolute;
    top: 40px;
    right: 40px;
  }
  .hhead #chk:checked ~ .menu {
    right: 0;
  }
}

.hhead .hpara {
  text-align: center;
  width: 600px;
  margin: 280px auto;
  font-size: 30px;
  color: black;
}

@media (max-width: 800px) {
  .hhead .hpara {
    color: black;
    margin: 150px auto;
    font-size: 30px;
    position: relative;
    top: 210px;
  }
}

@media (max-width: 375px) {
  .hhead .hpara {
    color: white;
    font-size: 25px;
    position: relative;
    right: 120px;
    color: black;
  }
}

.hhead h1 {
  text-align: center;
  font-size: 65px;
  color: black;
  position: relative;
  top: 200px;
  z-index: 2;
  margin: 0;
  padding: 0;
}

@media (max-width: 800px) {
  .hhead h1 {
    color: black;
    max-width: 600px;
    position: relative;
    top: 260px;
    left: 70px;
    font-size: 42px;
  }
}

@media (max-width: 375px) {
  .hhead h1 {
    font-size: 30px;
    color: black;
    position: relative;
    right: 60px;
    bottom: 30px;
  }
}

.hhead .hbtn {
  background-image: linear-gradient(45deg, #7749c1, #9b59b6, #3498db);
  border-radius: 3em 0.5em;
  padding: 1em;
  font-size: 100%;
  background-size: 800px;
  background-position: right;
  color: white;
  margin-left: 680px;
  position: relative;
  top: -80px;
  font-family: 'Montserrat';
  outline: none;
  cursor: pointer;
}

.hhead .hbtn {
  -webkit-animation: hover 2s infinite;
          animation: hover 2s infinite;
}

@-webkit-keyframes hover {
  0% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

@keyframes hover {
  0% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

.hhead .halone {
  position: relative;
  right: 20px;
  top: -30px;
}

@media (max-width: 800px) {
  .hhead .halone {
    position: relative;
    right: 350px;
    top: 180px;
  }
}

@media (max-width: 375px) {
  .hhead .halone {
    position: relative;
    left: -580px;
    top: -1px;
  }
}

.hsec1 .hgrid {
  height: 400px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% auto;
      grid-template-columns: 50% auto;
}

@media (max-width: 375px) {
  .hsec1 .hgrid {
    height: 800px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
}

.hsec1 .hleft {
  background-image: url(Images/workplace-1245776_1920.jpg);
  background-size: cover;
  -webkit-box-shadow: -4px -4px 8px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);
          box-shadow: -4px -4px 8px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);
}

.hsec1 .hleft:hover {
  -webkit-box-shadow: inset -4px -4px 8px #ffffff73, inset 3px 3px 5px rgba(94, 104, 121, 0.288);
          box-shadow: inset -4px -4px 8px #ffffff73, inset 3px 3px 5px rgba(94, 104, 121, 0.288);
}

@media (max-width: 375px) {
  .hsec1 .hleft {
    max-height: 500px;
  }
}

.hsec1 .hright {
  -webkit-box-shadow: -4px -4px 8px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);
          box-shadow: -4px -4px 8px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);
}

.hsec1 .hright:hover {
  -webkit-box-shadow: inset -4px -4px 8px #ffffff73, inset 3px 3px 5px rgba(94, 104, 121, 0.288);
          box-shadow: inset -4px -4px 8px #ffffff73, inset 3px 3px 5px rgba(94, 104, 121, 0.288);
}

@media (max-width: 375px) {
  .hsec1 .hright {
    max-height: 400px;
  }
}

.hsec1 .htitle3 {
  text-align: center;
  font-size: 28px;
  color: #8f25D6;
  font-weight: bold;
  position: relative;
  top: 40px;
}

@media (max-width: 800px) {
  .hsec1 .htitle3 {
    margin-top: 20px;
  }
}

.hsec1 .hpara {
  text-align: center;
  width: 600px;
  margin: 100px auto 0 auto;
  font-size: 25px;
  color: black;
}

@media (max-width: 800px) {
  .hsec1 .hpara {
    max-width: 300px;
    font-size: 20px;
    margin: 60px auto 0 auto;
  }
}

@media (max-width: 375px) {
  .hsec1 .hpara {
    margin-bottom: 50px;
  }
}

.hsec1 .hpara span {
  color: white;
}

.hsec2 .hcont {
  background: black;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

@media (max-width: 375px) {
  .hsec2 .hcont {
    max-width: 375px;
  }
}

.hsec2 .hcont .htitle4 {
  text-align: center;
  font-size: 28px;
  color: #8f25D6;
  position: relative;
  top: 40px;
  z-index: 2;
}

@media (max-width: 375px) {
  .hsec2 .hcont .htitle4 {
    font-size: 24px;
  }
}

.hsec2 .hcont span {
  color: white;
}

.hsec2 .hcont .hpara {
  text-align: center;
  width: 600px;
  margin: 50px auto 0 auto;
  font-size: 30px;
  color: white;
  font-weight: bold;
}

@media (max-width: 375px) {
  .hsec2 .hcont .hpara {
    max-width: 375px;
    font-size: 28px;
  }
}

.hsec2 .hcont .hgrid {
  margin-top: 60px;
  height: 1000px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
}

@media (max-width: 800px) {
  .hsec2 .hcont .hgrid {
    max-width: 800px;
    max-height: 800px;
  }
}

@media (max-width: 375px) {
  .hsec2 .hcont .hgrid {
    max-height: 2000px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}

.hsec2 .hcont .hgrid .hone {
  background-image: url(Images/4.jpg);
  background-size: cover;
}

.hsec2 .hcont .hgrid .hone:hover {
  background: red;
  -webkit-transition: .6s;
  transition: .6s;
}

.hsec2 .hcont .hgrid .htwo {
  background-image: url(Images/1.jpg);
  background-size: cover;
}

.hsec2 .hcont .hgrid .htwo:hover {
  background: aqua;
  -webkit-transition: .6s;
  transition: .6s;
}

.hsec2 .hcont .hgrid .htree {
  background-image: url(Images/5.jpg);
  background-size: cover;
}

.hsec2 .hcont .hgrid .htree:hover {
  background: violet;
  -webkit-transition: .6s;
  transition: .6s;
}

.hsec2 .hcont .hgrid .hfour {
  background-image: url(Images/3.jpg);
  background-size: cover;
}

.hsec2 .hcont .hgrid .hfour:hover {
  background: #6c33f1;
  -webkit-transition: .6s;
  transition: .6s;
}

.hsec2 .hcont .hgrid p {
  text-align: center;
  width: 600px;
  margin: 230px auto 0 auto;
  font-size: 35px;
  font-weight: bold;
  color: black;
  letter-spacing: -.02em;
  z-index: 5;
  cursor: pointer;
}

@media (max-width: 800px) {
  .hsec2 .hcont .hgrid p {
    max-width: 360px;
    font-size: 30px;
    margin: 180px auto 0 auto;
    color: black;
  }
}

@media (max-width: 375px) {
  .hsec2 .hcont .hgrid p {
    position: relative;
    top: -70px;
  }
}

.hsec3 .hfather {
  background-color: #8f25D6;
  height: 400px;
  opacity: .8;
  -webkit-clip-path: polygon(50% 0%, 100% 0, 74% 100%, 0 99%, 0 0);
          clip-path: polygon(50% 0%, 100% 0, 74% 100%, 0 99%, 0 0);
  z-index: -1;
}

@media (max-width: 375px) {
  .hsec3 .hfather {
    max-width: 375px;
    max-height: 400px;
    -webkit-clip-path: none;
            clip-path: none;
  }
}

.hsec3 .hfather .htitle5 {
  text-align: center;
  font-size: 35px;
  color: white;
  position: relative;
  top: 60px;
  right: 350px;
}

@media (max-width: 800px) {
  .hsec3 .hfather .htitle5 {
    margin-left: 360px;
    max-width: 450px;
    font-size: 30px;
  }
}

@media (max-width: 375px) {
  .hsec3 .hfather .htitle5 {
    font-size: 35px;
    width: 340px;
    position: relative;
    top: 20px;
  }
}

.hsec3 .hfather .p4 {
  font-weight: bold;
  text-align: left;
  width: 600px;
  margin: 50px auto 0 auto;
  font-size: 30px;
  color: black;
  position: relative;
  right: 250px;
  top: 50px;
}

@media (max-width: 800px) {
  .hsec3 .hfather .p4 {
    margin-left: 300px;
    max-width: 450px;
    font-size: 25px;
  }
}

@media (max-width: 375px) {
  .hsec3 .hfather .p4 {
    max-width: 350px;
    font-size: 22px;
    position: relative;
    right: 275px;
    top: -5px;
  }
}

.hsec3 .hfather .hbtn {
  background-image: linear-gradient(45deg, #7749c1, #9b59b6, #3498db);
  border-radius: 3em 0.5em;
  padding: 1em;
  font-size: 100%;
  background-size: 800px;
  background-position: right;
  color: white;
  margin-left: 680px;
  position: relative;
  top: -80px;
  font-family: 'Montserrat';
  outline: none;
  cursor: pointer;
}

.hsec3 .hfather .hbtn {
  -webkit-animation: hover 2s infinite;
          animation: hover 2s infinite;
}

@keyframes hover {
  0% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

.hsec3 .hfather .hbtn {
  position: relative;
  top: 80px;
  z-index: 5;
  right: 230px;
}

@media (max-width: 375px) {
  .hsec3 .hfather .hbtn {
    position: relative;
    right: 570px;
    top: 25px;
  }
}

.hsec3 .hfather .SEPAR {
  padding: 1em;
  border-radius: 10px;
  width: 350px;
  -webkit-clip-path: circle(10% at 90% 20%);
          clip-path: circle(10% at 90% 20%);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  cursor: pointer;
  position: relative;
  left: 1000px;
  bottom: 250px;
}

@media (max-width: 800px) {
  .hsec3 .hfather .SEPAR {
    display: none;
  }
}

@media (max-width: 375px) {
  .hsec3 .hfather .SEPAR {
    display: none;
  }
}

.hsec3 .hfather .SEPAR:hover {
  -webkit-clip-path: circle(75%);
          clip-path: circle(75%);
  background: white;
}

.hsec3 .hfather .SEPAR h1 {
  color: black;
  margin: 0;
}

.hsec3 .hfather .SEPAR p {
  color: black;
  font-size: .8rem;
}

.hsec3 .hfather .SEPAR span {
  float: right;
  color: black;
  font-weight: bold;
  -webkit-transition: color .5s;
  transition: color .5s;
  position: relative;
  right: 15px;
}

.hsec3 .hfather .SEPAR:hover span {
  color: rgba(255, 255, 255, 0);
}

.hsec4 .hgrid3 {
  height: 200px;
  background-color: black;
  position: relative;
  bottom: 55px;
}

.hsec4 p {
  color: white;
  text-align: left;
  width: 800px;
  margin: 50px auto 0 auto;
  font-size: 21px;
  font-weight: bold;
  position: relative;
  right: 300px;
  top: 60px;
  line-height: 1.5;
}

@media (max-width: 800px) {
  .hsec4 p {
    max-width: 500px;
    margin-left: 360px;
    font-size: 16px;
  }
}

@media (max-width: 375px) {
  .hsec4 p {
    font-size: 13px;
    max-width: 200px;
    position: relative;
    top: 25px;
    left: -340px;
  }
}

.hsec4 .hbtn {
  background-image: linear-gradient(45deg, #7749c1, #9b59b6, #3498db);
  border-radius: 3em 0.5em;
  padding: 1em;
  font-size: 100%;
  background-size: 800px;
  background-position: right;
  color: white;
  margin-left: 680px;
  position: relative;
  top: -80px;
  font-family: 'Montserrat';
  outline: none;
  cursor: pointer;
}

.hsec4 .hbtn {
  -webkit-animation: hover 2s infinite;
          animation: hover 2s infinite;
}

@keyframes hover {
  0% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

.hsec4 .hbtn {
  position: relative;
  z-index: 5;
  left: 550px;
  top: -20px;
}

@media (max-width: 800px) {
  .hsec4 .hbtn {
    position: relative;
    left: -80px;
    top: -30px;
  }
}

@media (max-width: 375px) {
  .hsec4 .hbtn {
    position: relative;
    top: -90px;
    left: -455px;
  }
}

.hsec5 .hpara {
  text-align: center;
  width: 700px;
  margin: 50px auto 0 auto;
  font-size: 30px;
  color: black;
  font-weight: bold;
  position: relative;
  bottom: 50px;
}

.hsec5 .hpara span {
  color: #8f25D6;
}

@media (max-width: 375px) {
  .hsec5 .hpara {
    max-width: 400px;
  }
}

.hsec5 .habg {
  width: 100%;
  height: 860px;
  position: absolute;
  z-index: 1;
  background-color: rgba(119, 73, 193, 0.5);
}

@media (max-width: 800px) {
  .hsec5 .habg {
    width: 100vw;
    height: 100vh;
  }
}

.hsec5 .hslides {
  width: calc(1518px * 3);
  -webkit-animation: glisse 10s infinite ease-in;
          animation: glisse 10s infinite ease-in;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hsec5 .hslider {
  width: 1518px;
  overflow: hidden;
}

@media (max-width: 800px) {
  .hsec5 .hslider {
    width: 100vw;
    height: 100vh;
  }
}

@-webkit-keyframes glisse {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  33% {
    -webkit-transform: translateX(-1518px);
            transform: translateX(-1518px);
  }
  43% {
    -webkit-transform: translateX(-1518px);
            transform: translateX(-1518px);
  }
  66% {
    -webkit-transform: translateX(-3036px);
            transform: translateX(-3036px);
  }
  76% {
    -webkit-transform: translateX(-3036px);
            transform: translateX(-3036px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes glisse {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  33% {
    -webkit-transform: translateX(-1518px);
            transform: translateX(-1518px);
  }
  43% {
    -webkit-transform: translateX(-1518px);
            transform: translateX(-1518px);
  }
  66% {
    -webkit-transform: translateX(-3036px);
            transform: translateX(-3036px);
  }
  76% {
    -webkit-transform: translateX(-3036px);
            transform: translateX(-3036px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

footer {
  background-color: #5f6163;
  text-align: center;
  height: 355px;
}

@media (max-width: 375px) {
  footer {
    height: auto;
  }
}

footer .projet {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  position: relative;
  top: 30px;
}

@media (max-width: 375px) {
  footer .projet {
    right: 10px;
  }
}

footer .projet:hover h3 {
  color: #bc93fd;
}

footer .projet:hover i {
  color: #bc93fd;
  left: 32px;
}

footer .projet i {
  font-size: 40px;
  color: white;
  position: relative;
  top: 45px;
  left: 22px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

@media (max-width: 375px) {
  footer .projet i {
    top: 35px;
    font-size: 30px;
  }
}

footer .projet h3 {
  color: white;
  font-size: 40px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 375px) {
  footer .projet h3 {
    font-size: 30px;
  }
}

.footer-content {
  margin-top: 60px;
}

@media (max-width: 375px) {
  .footer-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr .4fr 0.4fr;
        grid-template-rows: 1fr .4fr 0.4fr;
        grid-template-areas: "form" "contact" "icon";
  }
}

.flaot {
  float: left;
  width: 33%;
}

@media (max-width: 800px) {
  .flaot {
    width: 32.90%;
  }
}

@media (max-width: 375px) {
  .flaot {
    float: none;
  }
}

footer .contact {
  color: #ffffff80;
  margin-top: 10px;
}

@media (max-width: 800px) {
  footer .contact {
    font-size: 13px;
    margin-top: 20px;
  }
}

@media (max-width: 375px) {
  footer .contact {
    grid-area: contact;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
  }
  footer .contact .cnt {
    position: relative;
    right: 35px;
  }
}

footer .contact h4 {
  font-weight: 100;
}

footer .contact h4:hover {
  color: #bc93fd;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

footer .form {
  margin-left: 10px;
}

@media (max-width: 375px) {
  footer .form {
    grid-area: form;
  }
}

footer .form .text-input {
  padding: 10px 30px;
  margin-bottom: 20px;
  background: none;
  border: 1px solid #bc93fd;
  color: white;
  border-radius: 50px;
  outline-style: none;
  width: 160px;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

@media (max-width: 375px) {
  footer .form .text-input {
    margin-left: 55%;
  }
}

footer .form .text-input::-webkit-input-placeholder {
  color: #ffffff80;
}

footer .form .text-input:-ms-input-placeholder {
  color: #ffffff80;
}

footer .form .text-input::-ms-input-placeholder {
  color: #ffffff80;
}

footer .form .text-input::placeholder {
  color: #ffffff80;
}

footer .form .text-input:focus {
  width: 230px;
}

@media (max-width: 375px) {
  footer .form .text-input:focus {
    width: 160px;
  }
}

footer .form .submit-input {
  background: none;
  color: #ffffff80;
  padding: 10px 15px;
  border: 1px solid #bc93fd;
  border-radius: 50px;
  -webkit-transition: .5S;
  transition: .5S;
}

@media (max-width: 375px) {
  footer .form .submit-input {
    margin-left: 115%;
  }
}

footer .form .submit-input:hover {
  background-color: #8561be;
  color: white;
  border: 1px solid #8561be;
}

@media (max-width: 375px) {
  footer .footer-icon {
    grid-area: icon;
    margin-left: 35%;
  }
}

footer .footer-icon .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 60px;
}

footer .footer-icon ul {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

footer .footer-icon .icon-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  font-size: 19px;
  color: #a5a4a4;
  border-radius: 50%;
}

@media (max-width: 375px) {
  footer .footer-icon .icon-link {
    padding-right: 10px;
  }
}

footer .footer-icon .icon-link:hover .fa-twitter {
  color: #1da1f2;
}

footer .footer-icon .icon-link:hover .fa-facebook-f {
  color: #1877f2;
}

footer .footer-icon .icon-link:hover .fa-instagram {
  color: #e4405f;
}

footer .footer-icon .icon-link:hover .fa-linkedin-in {
  color: #0077b5;
}

footer .copy h6 {
  width: 300px;
  color: #ffffff80;
  font-weight: 100;
  margin: 0 auto;
  padding: 0;
}
/*# sourceMappingURL=style1.css.map */