         // Variables
         $primary-color: #8f25D6;
         $btn-bg-color: black;
         $btn-color: white;
         $tablet:800px;
         $mobile:375px;
         // MIXIN
         @mixin btn {
             .hbtn {
                 background-image: linear-gradient(45deg, #7749c1, #9b59b6, #3498db);
                 border-radius: 3em 0.5em;
                 padding: 1em;
                 font-size: 100%;
                 background-size: 800px;
                 background-position: right;
                 color: white;
                 margin-left: 680px;
                 position: relative;
                 top: -80px;
                 font-family: 'Montserrat';
                 outline: none;
                 cursor: pointer;
             }
             .hbtn {
                 animation: hover 2s infinite;
             }
             @keyframes hover {
                 0% {
                     background-position: right;
                 }
                 100% {
                     background-position: left;
                 }
             }
         }
         
         @mixin flex {
             display: flex;
             justify-content: space-around;
         }
         
         @mixin tablet {
             @media (max-width: #{$tablet}) {
                 @content;
             }
         }
         
         @mixin mobile {
             @media (max-width: #{$mobile}) {
                 @content;
             }
         }
         
         @mixin demention {
             width: 100vw;
             height: 100vh;
         }
         
         * {
             margin: 0;
             padding: 0;
         }
         
         html {
             scroll-behavior: smooth;
         }
         
         body {
             width: 100%;
             height: 100%;
             font-family: 'Montserrat';
             background-color: #Dae1eb;
         }
         
         .hhead {
             width: 99vw;
             height: 700px;
             background-image: url(Images/bridge-4.jpg);
             background-size: cover;
             @include mobile() {
                 max-width: 375px;
                 max-height: 500px;
             }
             @include tablet() {
                 max-width: 800px;
                 max-height: 600px;
             }
             @import "./navbar";
             .hcont {
                 display: flex;
                 flex-direction: column;
                 align-items: center;
                 align-content: center;
                 margin: 250px;
                 line-height: 50px;
                 @include btn();
                 @include tablet() {
                     min-width: 100%;
                     position: relative;
                     right: 250px;
                     bottom: 100px;
                 }
             }
             .hpara {
                 text-align: center;
                 font-size: 30px;
                 color: $btn-bg-color;
                 @include mobile() {
                     color: $btn-bg-color;
                     font-size: 25px;
                 }
             }
             h1 {
                 text-align: center;
                 font-size: 42px;
                 color: $btn-bg-color;
             }
             @include mobile() {
                 font-size: 42px;
                 max-width: 300px;
                 color: $btn-color;
                 max-width: 100%;
                 text-align: center;
             }
         }
         
         .halone {
             position: relative;
             top: 120px;
             left: -330px;
             font-size: 16px;
         }
         
         .hsec1 {
             .hgrid {
                 max-height: fit-content;
                 width: 99vw;
                 @include mobile() {
                     height: 100%;
                     height: 100%;
                     display: grid;
                     grid-template-columns: 1fr;
                     grid-template-rows: 1fr 1fr;
                 }
                 height: 400px;
                 display: grid;
                 grid-template-columns: 50% auto;
             }
             .hleft {
                 background-image: url(Images/workplace-1245776_1920.jpg);
                 background-size: cover;
                 box-shadow: -4px -4px 8px #ffffff73, 3px 3px 5px rgba(94, 104, 121, .288);
                 &:hover {
                     box-shadow: inset -4px -4px 8px #ffffff73, inset 3px 3px 5px rgba(94, 104, 121, .288);
                 }
                 @include mobile() {
                     height: 400px;
                 }
             }
             .hright {
                 box-shadow: -4px -4px 8px #ffffff73, 3px 3px 5px rgba(94, 104, 121, .288);
                 &:hover {
                     box-shadow: inset -4px -4px 8px #ffffff73, inset 3px 3px 5px rgba(94, 104, 121, .288);
                 }
                 @include mobile() {
                     max-height: 400px;
                 }
             }
             .htitle3 {
                 text-align: center;
                 font-size: 28px;
                 color: $primary-color;
                 font-weight: bold;
                 position: relative;
                 top: 40px;
                 min-width: 100%;
                 @include tablet() {
                     margin-top: 20px;
                 }
             }
             .hpara {
                 text-align: center;
                 width: 80%;
                 margin: 100px auto 0 auto;
                 font-size: 25px;
                 color: $btn-bg-color;
                 @include tablet() {
                     max-width: 300px;
                     font-size: 20px;
                     margin: 60px auto 0 auto;
                 }
                 @include mobile() {
                     margin-bottom: 50px;
                 }
                 span {
                     color: $btn-color;
                 }
             }
         }
         
         .hsec2 {
             .hcont {
                 width: 99vw;
                 background: $btn-bg-color;
                 display: grid;
                 grid-template-columns: 1fr;
                 grid-template-rows: 1fr;
                 @include mobile() {
                     max-width: 375px;
                 }
                 .htitle4 {
                     max-width: 99vw;
                     text-align: center;
                     font-size: 28px;
                     color: $primary-color;
                     position: relative;
                     top: 40px;
                     z-index: 2;
                     @include mobile() {
                         font-size: 24px;
                     }
                 }
                 span {
                     color: $btn-color;
                 }
                 .hpara {
                     text-align: center;
                     width: 99vw;
                     margin: 50px auto 0 auto;
                     font-size: 30px;
                     color: $btn-color;
                     font-weight: bold;
                     @include mobile() {
                         font-size: 20px;
                     }
                 }
                 .hgrid {
                     width: 99vw;
                     margin-top: 60px;
                     height: 130vh;
                     display: grid;
                     grid-template-columns: 50% 50%;
                     grid-template-rows: 50% 50%;
                     @include tablet() {
                         max-width: 800px;
                         max-height: 800px;
                     }
                     @include mobile() {
                         display: grid;
                         grid-template-columns: 1fr;
                         grid-template-rows: 1fr 1fr 1fr 1fr;
                     }
                     .hone {
                         background-image: url(Images/4.jpg);
                         background-size: cover;
                         &:hover {
                             background: rgb(108, 51, 241);
                             transition: .6s;
                         }
                     }
                     .htwo {
                         background-image: url(Images/1.jpg);
                         background-size: cover;
                         &:hover {
                             background: aqua;
                             transition: .6s;
                         }
                     }
                     .htree {
                         background-image: url(Images/5.jpg);
                         background-size: cover;
                         &:hover {
                             background: violet;
                             transition: .6s;
                         }
                     }
                     .hfour {
                         background-image: url(Images/3.jpg);
                         background-size: cover;
                         &:hover {
                             background: rgb(108, 51, 241);
                             transition: .6s;
                         }
                     }
                     p {
                         text-align: center;
                         width: 100%;
                         margin: 230px auto 0 auto;
                         font-size: 35px;
                         font-weight: bold;
                         color: $btn-bg-color;
                         letter-spacing: -.02em;
                         z-index: 5;
                         cursor: pointer;
                         @include tablet() {
                             max-width: 360px;
                             font-size: 30px;
                             margin: 180px auto 0 auto;
                             color: $btn-bg-color;
                         }
                         @include mobile() {
                             width: 99vw;
                             margin-top: 80px;
                             color: $btn-bg-color;
                             font-weight: bold;
                         }
                     }
                 }
             }
         }
         
         .hsec3 {
             .hgrid3 {
                 display: flex;
                 flex-direction: column;
                 height: fit-content;
                 margin-bottom: 50px;
                 @include mobile() {
                     width: 99vw;
                 }
             }
             p {
                 color: $btn-bg-color;
                 text-align: center;
                 width: 80vw;
                 margin: 50px auto 0 auto;
                 font-size: 35px;
                 font-weight: bold;
                 line-height: 1.5;
                 @include tablet() {
                     max-width: 99vw;
                     font-size: 16px;
                 }
                 @include mobile() {
                     font-size: 11px;
                     margin-top: 80px;
                 }
             }
         }
         
         @import'./footer';
         footer {
             width: 99vw
         }