.hilmi-header {
  position: fixed;
  left: 30px;
  margin-top: -20px;
  height: 100px;
  padding: 0 10px;
  color: white;
  background: #8f25D6;
  opacity: .9;
  z-index: 20;
  width: 100vw;
  margin-left: -50px;
}

.hilmi-header ul {
  margin: 12px 3px 14px 218px;
}

@media (max-width: 800px) {
  .hilmi-header {
    width: 100vw;
    margin-left: -35px;
    left: 28px;
  }
}

.logo {
  line-height: 100px;
  float: left;
  color: #8f25D6;
  margin-left: 60px;
  font-size: 35px;
  color: white;
  cursor: pointer;
  margin: 11px 0px 12px 44px;
}

@media (max-width: 800px) {
  .logo {
    margin: 0px;
    margin-left: 10px;
    margin: 8px 8px 16px 14px;
  }
}

@media (max-width: 375px) {
  .logo {
    font-size: 30px;
  }
}

.menu {
  float: right;
  line-height: 100px;
  margin-left: 240px;
}

@media (max-width: 800px) {
  .menu {
    margin-right: 0px;
  }
}

.menu a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  padding: 0px 40px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.menu a:hover {
  background-color: white;
  border-radius: 30px;
  padding: 10px 40px;
  color: #8f25D6;
  -webkit-transition: .5s;
  transition: .5s;
}

.show-menu-btn,
.hide-menu-btn {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-size: 30px;
  cursor: pointer;
  display: none;
}

.show-menu-btn {
  float: right;
}

.show-menu-btn i {
  line-height: 100px;
  margin: 8px 20px 7px 9px;
}

#chk {
  position: absolute;
  visibility: hidden;
}

@media (max-width: 800px) {
  .show-menu-btn,
  .hide-menu-btn {
    display: block;
  }
  .menu {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #8f25D6;
    right: -100%;
    bottom: 50px;
    text-align: center;
    padding: 80px 0;
    line-height: normal;
    -webkit-transition: 0.7s;
    transition: 0.7s;
    z-index: 10;
  }
  .menu a {
    display: block;
    margin: 20px;
    padding: 10px;
  }
  .hide-menu-btn {
    position: absolute;
    top: 40px;
    right: 40px;
  }
  #chk:checked ~ .menu {
    right: 0;
  }
}

body {
  background-color: #dae1eb;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  background: url(images/Online-Leadership-and-Team-Working.jpg) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
  height: 720px;
  -webkit-box-shadow: 0 10px 16px 0px #7749c160;
          box-shadow: 0 10px 16px 0px #7749c160;
}

@media (max-width: 1350px) {
  .header {
    background-size: cover;
    background-position: bottom;
  }
}

.header .abg {
  width: 100%;
  height: 720px;
  position: absolute;
  z-index: 2;
  background-color: rgba(119, 73, 193, 0.7);
}

.para {
  text-align: center;
  width: 600px;
  margin: 270px auto 0 auto;
  font-size: 19px;
  color: whitesmoke;
  position: relative;
  top: 30px;
  z-index: 2;
}

@media (max-width: 625px) {
  .para {
    width: 400px;
    top: 0;
  }
}

@media (max-width: 375px) {
  .para {
    width: 310px;
    top: 0;
  }
}

.para p {
  margin-top: 30px;
  margin-bottom: 0;
  line-height: 150%;
}

.title h1 {
  text-align: center;
  font-size: 65px;
  color: white;
  position: relative;
  top: 190px;
  z-index: 2;
  margin: 0;
  padding: 0;
}

@media (max-width: 625px) {
  .title h1 {
    top: 170px;
    font-size: 40px;
  }
}

h2 {
  color: #7749c1;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

h3 {
  color: #555353;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  margin-top: 150px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media (max-width: 1350px) {
  .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    justify-items: center;
  }
}

@media (max-width: 625px) {
  .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.container img {
  height: 160px;
  border-radius: 50%;
  position: relative;
  bottom: 110px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width: 1350px) {
  .container .team3,
  .container .team4 {
    margin-top: 80px;
  }
}

@media (max-width: 1350px) and (max-width: 625px) {
  .container .team3,
  .container .team4 {
    margin-top: 140px;
  }
}

@media (max-width: 1350px) and (max-width: 625px) {
  .container .team2 {
    margin-top: 70px;
  }
}

.container .team {
  margin-left: 25px;
  margin-right: 25px;
  background-color: #dae1eb;
  padding: 30px;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  border-top: 8px solid #7749c1;
  height: 445px;
}

.container .team h2,
.container .team h3,
.container .team p {
  position: relative;
  bottom: 110px;
}

.container .team .icon-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  font-size: 19px;
  color: #a5a4a4;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  -webkit-box-shadow: -4px -4px 8px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);
          box-shadow: -4px -4px 8px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);
}

.container .team .icon-link:hover {
  -webkit-box-shadow: inset -4px -4px 8px #ffffff73, inset 3px 3px 5px rgba(94, 104, 121, 0.288);
          box-shadow: inset -4px -4px 8px #ffffff73, inset 3px 3px 5px rgba(94, 104, 121, 0.288);
}

.container .team .icon-link:hover .fa-twitter {
  color: #1da1f2;
}

.container .team .icon-link:hover .fa-facebook-f {
  color: #1877f2;
}

.container .team .icon-link:hover .fa-instagram {
  color: #e4405f;
}

.container .team .icon-link:hover .fa-linkedin-in {
  color: #0077b5;
}

.container p {
  width: 240px;
  font-size: 15px;
  font-weight: 100;
  height: 300px;
  color: #857e7e;
  position: relative;
  bottom: 110px;
}

@media (max-width: 1350px) {
  .container p {
    margin-left: auto;
    margin-right: auto;
  }
}

.container .icon {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  position: relative;
  bottom: 200px;
}

.container .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container i {
  margin: auto;
}

.container i .fa-twitter {
  color: #1da1f2;
}

.title1 h1 {
  text-align: center;
  color: #7749c1;
  font-size: 40px;
  margin-top: 90px;
}

.clients1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 80px 50px 80px 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1350px) {
  .clients1 {
    margin: 80px 50px 0px 50px;
  }
  .clients1 .none {
    display: none;
  }
}

.clients2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 50px 0 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1350px) {
  .clients2 .none {
    display: none;
  }
}

.client {
  height: 200px;
  width: 200px;
  background-color: #Dae1eb;
  border-radius: 10px;
  -webkit-box-shadow: -4px -4px 8px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);
          box-shadow: -4px -4px 8px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);
}

@media (max-width: 1350px) {
  .client {
    margin: 30px;
  }
}

.client i {
  margin: 55px;
  font-size: 90px;
  color: grey;
}

.client .fa-amazon {
  margin: 58px;
}

.client .fa-paypal {
  margin: 57px 65px;
}

.client .fa-apple {
  margin: 50px 65px;
}

.client .fa-fedex {
  margin: 55px 45px;
}

.client .fa-imdb {
  margin: 55px 60px;
}

.client .fa-youtube {
  margin: 55px 50px;
}

.client .fa-bootstrap {
  margin: 56px 60px;
}

.client:hover {
  -webkit-box-shadow: inset -3px -3px 8px #ffffff73, inset 3px 3px 5px rgba(94, 104, 121, 0.288);
          box-shadow: inset -3px -3px 8px #ffffff73, inset 3px 3px 5px rgba(94, 104, 121, 0.288);
}

.client:hover i {
  color: #7749C1;
  margin: 57px;
}

.client:hover .fa-amazon {
  margin: 59px;
  color: #e78c04;
}

.client:hover .fa-paypal {
  margin: 58px 66px;
  color: #00457C;
}

.client:hover .fa-apple {
  margin: 51px 66px;
  color: #000000;
}

.client:hover .fa-fedex {
  margin: 56px 46px;
  color: #d33324;
}

.client:hover .fa-imdb {
  margin: 56px 61px;
  color: #bb9b27;
}

.client:hover .fa-youtube {
  margin: 56px 51px;
  color: #FF0000;
}

.client:hover .fa-spotify {
  margin: 56px;
  color: #2ac25f;
}

.client:hover .fa-bootstrap {
  margin: 57px 61px;
  color: #563D7C;
}

.client:hover .fa-github {
  margin: 56px;
  color: #F05032;
}

footer {
  background-color: #5f6163;
  text-align: center;
  height: 355px;
}

@media (max-width: 625px) {
  footer {
    height: auto;
  }
}

footer .projet {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  position: relative;
  top: 30px;
}

@media (max-width: 625px) {
  footer .projet {
    right: 10px;
  }
}

footer .projet:hover h3 {
  color: #bc93fd;
}

footer .projet:hover i {
  color: #bc93fd;
  left: 32px;
}

footer .projet i {
  font-size: 40px;
  color: white;
  position: relative;
  top: 45px;
  left: 22px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

@media (max-width: 625px) {
  footer .projet i {
    top: 35px;
    font-size: 30px;
  }
}

footer .projet h3 {
  color: white;
  font-size: 40px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 625px) {
  footer .projet h3 {
    font-size: 30px;
  }
}

.footer-content {
  margin-top: 60px;
}

@media (max-width: 625px) {
  .footer-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr .4fr 0.4fr;
        grid-template-rows: 1fr .4fr 0.4fr;
        grid-template-areas: "form" "contact" "icon";
    justify-items: center;
  }
}

.flaot {
  float: left;
  width: 33%;
}

@media (max-width: 998px) {
  .flaot {
    width: 32.90%;
  }
}

@media (max-width: 767px) {
  .flaot {
    width: 32.80%;
  }
}

@media (max-width: 625px) {
  .flaot {
    float: none;
  }
}

footer .contact {
  color: #ffffff80;
  margin-top: 10px;
}

@media (max-width: 800px) {
  footer .contact {
    font-size: 13px;
    margin-top: 20px;
  }
}

@media (max-width: 625px) {
  footer .contact {
    grid-area: contact;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
  }
  footer .contact .cnt {
    position: relative;
  }
}

@media (max-width: 375px) {
  footer .contact .cnt {
    position: relative;
    right: 35px;
  }
}

footer .contact h4 {
  font-weight: 100;
}

footer .contact h4:hover {
  color: #bc93fd;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

footer .form {
  margin-left: 10px;
}

@media (max-width: 625px) {
  footer .form {
    grid-area: form;
  }
}

footer .form .text-input {
  padding: 10px 30px;
  margin-bottom: 20px;
  background: none;
  border: 1px solid #bc93fd;
  color: white;
  border-radius: 50px;
  outline-style: none;
  width: 160px;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

@media (max-width: 625px) {
  footer .form .text-input {
    position: relative;
    right: 10%;
  }
}

@media (max-width: 420px) {
  footer .form .text-input {
    position: relative;
    right: 40%;
  }
}

footer .form .text-input::-webkit-input-placeholder {
  color: #ffffff80;
}

footer .form .text-input:-ms-input-placeholder {
  color: #ffffff80;
}

footer .form .text-input::-ms-input-placeholder {
  color: #ffffff80;
}

footer .form .text-input::placeholder {
  color: #ffffff80;
}

footer .form .text-input:focus {
  width: 230px;
}

@media (max-width: 625px) {
  footer .form .text-input:focus {
    width: 160px;
  }
}

footer .form .submit-input {
  background: none;
  color: #ffffff80;
  padding: 10px 15px;
  border: 1px solid #bc93fd;
  border-radius: 50px;
  -webkit-transition: .5S;
  transition: .5S;
}

footer .form .submit-input:hover {
  background-color: #8561be;
  color: white;
  border: 1px solid #8561be;
}

@media (max-width: 625px) {
  footer .footer-icon {
    grid-area: icon;
  }
}

footer .footer-icon .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 60px;
}

footer .footer-icon ul {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

footer .footer-icon .icon-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  font-size: 19px;
  color: #a5a4a4;
  border-radius: 50%;
}

@media (max-width: 625px) {
  footer .footer-icon .icon-link {
    padding-right: 10px;
  }
}

footer .footer-icon .icon-link:hover .fa-twitter {
  color: #1da1f2;
}

footer .footer-icon .icon-link:hover .fa-facebook-f {
  color: #1877f2;
}

footer .footer-icon .icon-link:hover .fa-instagram {
  color: #e4405f;
}

footer .footer-icon .icon-link:hover .fa-linkedin-in {
  color: #0077b5;
}

footer .copy h6 {
  width: 300px;
  color: #ffffff80;
  font-weight: 100;
  margin: 0 auto;
  padding: 0;
}
/*# sourceMappingURL=style.css.map */