body {
  background-color: #Dae1eb;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  background: url(images/Online-Leadership-and-Team-Working.jpg) no-repeat;
  background-attachment: fixed;
  background-size: 1550px 600px;
  height: 600px;
}

.header .abg {
  width: 100%;
  height: 600px;
  position: absolute;
  z-index: 2;
  background-color: rgba(119, 73, 193, 0.7);
}

.para {
  text-align: center;
  width: 600px;
  margin: 270px auto 0 auto;
  font-size: 19px;
  color: whitesmoke;
  position: relative;
  z-index: 2;
}

.para p {
  margin-top: 30px;
  margin-bottom: 0;
  line-height: 150%;
}

.title h1 {
  text-align: center;
  font-size: 65px;
  color: white;
  position: relative;
  top: 160px;
  z-index: 2;
  margin: 0;
  padding: 0;
}

h2 {
  color: #7749c1;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

h3 {
  color: #555353;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  margin-top: 150px;
}

.container img {
  height: 160px;
  border-radius: 50%;
  position: relative;
  bottom: 110px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container .team {
  margin-left: 25px;
  margin-right: 25px;
  background-color: #Dae1eb;
  padding: 30px;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  border-top: 8px solid #7749c1;
  height: 445px;
}

.container .team h2,
.container .team h3,
.container .team p {
  position: relative;
  bottom: 110px;
}

.container .team .icon-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  font-size: 19px;
  color: #a5a4a4;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  -webkit-box-shadow: -4px -4px 8px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);
          box-shadow: -4px -4px 8px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);
}

.container .team .icon-link:hover {
  -webkit-box-shadow: inset -4px -4px 8px #ffffff73, inset 3px 3px 5px rgba(94, 104, 121, 0.288);
          box-shadow: inset -4px -4px 8px #ffffff73, inset 3px 3px 5px rgba(94, 104, 121, 0.288);
}

.container .team .icon-link:hover .fa-twitter {
  color: #1DA1F2;
}

.container .team .icon-link:hover .fa-facebook-f {
  color: #1877F2;
}

.container .team .icon-link:hover .fa-instagram {
  color: #E4405F;
}

.container .team .icon-link:hover .fa-linkedin-in {
  color: #0077B5;
}

.container p {
  width: 240px;
  font-size: 15px;
  font-weight: 100;
  height: 300px;
  color: #857e7e;
  position: relative;
  bottom: 110px;
}

.container ul {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  position: relative;
  bottom: 200px;
}

.container .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container i {
  margin: auto;
}

.container i .fa-twitter {
  color: #1DA1F2;
}

.title1 h1 {
  text-align: center;
  color: #7749c1;
  font-size: 40px;
  margin-top: 90px;
}

.clients1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 80px;
}

.clients2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 80px 0 80px;
}

.client {
  height: 200px;
  width: 200px;
  background-color: #Dae1eb;
  border-radius: 10px;
  -webkit-box-shadow: -4px -4px 8px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);
          box-shadow: -4px -4px 8px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);
  -webkit-transition: all .7s;
  transition: all .7s;
}

.client i {
  margin: 55px;
  font-size: 90px;
  color: grey;
}

.client .fa-amazon {
  margin: 58px;
}

.client .fa-paypal {
  margin: 57px 65px;
}

.client .fa-apple {
  margin: 50px 65px;
}

.client .fa-fedex {
  margin: 55px 45px;
}

.client .fa-imdb {
  margin: 55px 60px;
}

.client .fa-youtube {
  margin: 55px 50px;
}

.client .fa-bootstrap {
  margin: 56px 60px;
}

.client:hover {
  -webkit-box-shadow: inset -3px -3px 7px #ffffff73, inset 3px 3px 5px rgba(94, 104, 121, 0.288);
          box-shadow: inset -3px -3px 7px #ffffff73, inset 3px 3px 5px rgba(94, 104, 121, 0.288);
}

.client:hover i {
  color: #7749C1;
  margin: 57px;
}

.client:hover .fa-amazon {
  margin: 59px;
  color: #e78c04;
}

.client:hover .fa-paypal {
  margin: 58px 66px;
  color: #00457C;
}

.client:hover .fa-apple {
  margin: 51px 66px;
  color: #000000;
}

.client:hover .fa-fedex {
  margin: 56px 46px;
  color: #d33324;
}

.client:hover .fa-imdb {
  margin: 56px 61px;
  color: #bb9b27;
}

.client:hover .fa-youtube {
  margin: 56px 51px;
  color: #FF0000;
}

.client:hover .fa-spotify {
  margin: 56px;
  color: #2ac25f;
}

.client:hover .fa-bootstrap {
  margin: 57px 61px;
  color: #563D7C;
}

.client:hover .fa-github {
  margin: 56px;
  color: #F05032;
}
/*# sourceMappingURL=style.css.map */