
$mobile:375px;
@mixin mobile {
    @media (max-width: #{$mobile}) {
        @content;
    }
  }
$tablet:800px;
@mixin tablet {
  @media (max-width: #{$tablet}) {
        @content;
    }
}


body{
  margin:0px ;
  padding:0px ;
  box-sizing:border-box ;
  background-color:#EEEEEE;
  font-family:  'Montserrat';
  
}
.fsection1{
  
  background-image: url(img/photodefotre.jpg);
  background-size: cover;
  width: 100%;
  height:500px ;
  @include tablet(){
  margin-right:0 ;
  }
   
}
.fcontact{
  color:  #ffffff;
 
 text-align: center;
 position: relative;
 top: 200PX;
 font-size:99px ;
 margin-top:0 ;
 &:hover {
   color: rgb(178, 39, 233);
  
  }
     @include  mobile(){
       font-size:50px;
     }
 }

  
.finputs{
  display: flex;
  flex-direction: row;
  margin-top: 3%;
  width:100% ;
  margin-left:5% ;
  @include mobile(){
           display: grid;
           grid-template-columns:1fr ;
           grid-template-rows:  1fr 1fr  ;
 

  }
  }
  .fparti2{
    margin: 0;
    justify-content: center;
    
  }
 

 
  .non{
    width:350px ;
    height:40px ;
    border-radius:15px;
    border: 1.3px solid #bc93fd ;
    position: relative;
    left:450px ;
    @include tablet(){
    position: relative;
    left:95px ;
    width:200px ;
  
    }
 
  }
  .numéro{
    width:350px ;
    height:40px ;
    border-radius: 15px;
    border: 1.3px solid #bc93fd ;
    position: relative;
    top: 65px;
    left: 95px;
   @include tablet(){
    position: relative;
    width:200px ;
    top: 20px;
   
    
   }
    
  }
  
  
  .adres{
    width:350px ;
    height:40px ; 
    margin-bottom: 20px;
    margin-left:22% ;
    border-radius: 15px;
    border: 1.3px solid #bc93fd ;
    @include tablet(){
      width:200px ;
      position: relative;
      right:  60px; 
      
    }


  }
  .votre{
    width:350px ;
    height:40px ;
    margin-left:22% ;
    border-radius: 15px;
    border: 1.3px solid #bc93fd ;
    @include tablet(){
     width:200px ;
     position: relative;
     right:60px ;
      

    }
    
  }


.message{
  box-sizing: border-box;
  width: 41%;
  margin-left: 540px;
  height: 250px;
  margin-top: 20px;
  padding-bottom: 10%;
  margin-bottom: 30px;
  border-radius: 30px;
  border: 1.3px solid #bc93fd ;
  @include tablet(){
    margin-left:100px ;
   width:70% ;
    height: 250px;
    position: relative;
    right: -20px;

}

}