@mixin resp($size) {
    @media (max-width: #{$size}) {
        @content;
    }
}

@mixin pricing {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 80%;
    background-color: white;
    padding: 10px;
    border-radius: 16px;
    margin: 10px auto;
    @include resp(800px) {
        border-radius: 8px;
        width: 90%;
    }
    @include resp(540px) {
        width: 60%;
    }
    .prix {
        border-radius: 50%;
        width: 150px;
        height: 150px;
        margin: 0 auto;
        background-image: linear-gradient($principe, rgb(86, 156, 247));
        h3 {
            padding: 50px 40px;
            width: 50%;
            color: white;
        }
    }
    button {
        height: 50px;
        width: 80%;
        background-image: linear-gradient(left, $principe, rgb(86, 156, 247));
        border: none;
        border-radius: 4px;
        color: white;
    }
    &:hover {
        background-image: linear-gradient($principe, rgb(86, 156, 247));
        color: white;
        .prix {
            background: none;
            background-color: white;
            h3 {
                color: black;
            }
        }
        button {
            color: black;
            background: none;
            background-color: white;
        }
    }
}

.pricing {
    text-align: center;
    margin: auto;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 5%;
    @include resp(800px) {
        grid-column-gap: 0%;
        padding: 0;
    }
    @include resp(540px) {
        display: grid;
        grid-template-columns: 1fr;
    }
}

.standard {
    @include pricing;
}

.pro {
    @include pricing;
}

.demande {
    @include pricing;
}