body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.testimoniale {
    .test {
        text-decoration: underline;
        text-align: center;
    }
    .comment {
        width: 23%;
        margin: auto;
        border: 2px solid #8f25D6;
        padding: 20px;
    }
}