$principe: #8f25D6;
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    background-image: url(img/back.jpg);
}

@mixin tous {
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    background-color: white;
    img {
        border-radius: 100%;
        width: 50%;
        margin: 20px 25%;
    }
    .stars {
        color: $principe;
    }
    .personne {
        h3 {
            color: $principe;
        }
    }
}

h1 {
    text-align: center;
    text-decoration: underline;
}

.testimonaile {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 5%;
    .jone {
        grid-column: 2/4;
        @include tous
    }
    .steve {
        grid-column: 4/6;
        @include tous
    }
    .ball {
        grid-column: 6/8;
        @include tous
    }
}