

@import"./navbar";



@mixin hw{
    width: 100%;
    height: 610px;
    margin-top: -4px;
    box-sizing: border-box;


   
    
    
}

*{
    margin: 0;
    padding: 0;
}

body {
  width: 100%;
  font-family: 'Montserrat', sans-serif;

}



.aheader{
   background: url(img/bridge.jpg) no-repeat ;
   background-size: cover;
   
   height: 600px;
   background-attachment:fixed;
   width: 100%;
   
   
   @media screen and (max-width:800px){
       background-position: center;
   }



  /*.abg{
       width: 100%;
       height: 600px;
       position: absolute;
       z-index: 2;
       background-color: rgba($color: #7d54be, $alpha: .7);
    
   } */ 
}

.center{
   margin-left: 33%;
   margin-top: 16%;
   position: absolute;
   z-index: 3;
   text-align: center;
}

.aqui{
   
   color: #EB2F5B;
   font-weight: 100; 
}

.apro{
  color: white;  
  font-size: 80px;
  font-weight: 900;
}
/*--------------------------------------------------------------------*/

.afixed{  
 display: grid ; 
 grid-template-columns: 1fr 1fr 1fr;
 grid-template-rows: 1fr 1fr 1fr;
 
 
 
}
.apart1 {

  @include hw();
 background-color: #82ECE8;
 padding: 50px;

}


.apart1 h1 {
    line-height: 50px;
    font-weight: 900;
    
}
.apart1 h2 {
    padding-bottom: 20px;
    font-weight: lighter;
    color: #EB2F5B; 





 


 


 



